app/etc/local.xml
media/catalog/product/cache/*
media/tmp/*
media/wysiwyg/*
media/attributesplash/*
media/attributesplash/cache/*
media/catalog/*
media/*
errors/local.xml
var/*
downloader/*
downloader
.htaccess
!*/.htaccess
.htpasswd
nbproject/*
.idea
.project
robots.txt
.sass-cache