<?xml version="1.0"?>
<config>
    <global>
        <modules>
            <plugincompany_autocomplete>
                <version>1.1.0</version>
            </plugincompany_autocomplete>
        </modules>
        <helpers>
            <plugincompany_autocomplete>
                <class>Plugincompany_Autocomplete_Helper</class>
            </plugincompany_autocomplete>
        </helpers>
        <models>
            <plugincompany_autocomplete>
                <class>
                    Plugincompany_Autocomplete_Model
                </class>
            </plugincompany_autocomplete>
        </models>
        <blocks>
            <plugincompany_autocomplete>
                <class>Plugincompany_Autocomplete_Block</class>
            </plugincompany_autocomplete>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <autocom>
                    <file>plugincompany_autocomplete.xml</file>
                </autocom>
            </updates>
        </layout>
        <routers>
            <searchautocomplete>
                <use>standard</use>
                <args>
                    <module>Plugincompany_Autocomplete</module>
                    <frontName>searchautocomplete</frontName>
                </args>
            </searchautocomplete>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <plugincompany_autocomplete>
                    <file>plugincompany_autocomplete.xml</file>
                </plugincompany_autocomplete>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <plugincompany_autocomplete before="Mage_Adminhtml">Plugincompany_Autocomplete_Adminhtml</plugincompany_autocomplete>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <plugincompany_autocomplete>
            <general>
                <enable>1</enable>
                <jquery>1</jquery>
                <theme>2</theme>
                <increasewidth>0</increasewidth>
                <imagesize>70</imagesize>
                <search_display>auto</search_display>
                <imagetype>thumbnail</imagetype>
            </general>
        </plugincompany_autocomplete>
    </default>
</config>
