<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category    Bubble
 * @package     Bubble_FullPageCache
 * @version     3.5.0
 * @copyright   Copyright (c) 2015 BubbleShop (https://www.bubbleshop.net)
 */
-->
<config>
    <modules>
        <Bubble_FullPageCache>
            <version>3.0.2</version>
        </Bubble_FullPageCache>
    </modules>
    <global>
        <resources>
            <bubble_fpc_setup>
                <setup>
                    <module>Bubble_FullPageCache</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </bubble_fpc_setup>
        </resources>
        <blocks>
            <bubble_fpc>
                <class>Bubble_FullPageCache_Block</class>
            </bubble_fpc>
        </blocks>
        <helpers>
            <bubble_fpc>
                <class>Bubble_FullPageCache_Helper</class>
            </bubble_fpc>
        </helpers>
        <models>
            <bubble_fpc>
                <class>Bubble_FullPageCache_Model</class>
                <resourceModel>bubble_fpc_resource</resourceModel>
            </bubble_fpc>
            <bubble_fpc_resource>
                <class>Bubble_FullPageCache_Model_Resource</class>
                <entities>
                    <action><table>bubble_fpc_action</table></action>
                    <block><table>bubble_fpc_block</table></block>
                </entities>
            </bubble_fpc_resource>
        </models>
        <cache>
            <types>
                <bubble_fpc translate="label,description" module="bubble_fpc">
                    <label><![CDATA[Bubble Full Page Cache]]></label>
                    <description><![CDATA[Full Page Cache for Magento (System > Full Page Cache).]]></description>
                    <tags><![CDATA[FPC]]></tags>
                </bubble_fpc>
            </types>
        </cache>
        <events>
            <core_clean_cache>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onCoreCleanCache</method>
                    </bubble_fpc>
                </observers>
            </core_clean_cache>
            <application_clean_cache>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onApplicationCleanCache</method>
                    </bubble_fpc>
                </observers>
            </application_clean_cache>
            <controller_action_predispatch_adminhtml_cache_massEnable>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onMassCacheEnable</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massEnable>
            <controller_action_predispatch_adminhtml_cache_massDisable>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onMassCacheDisable</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massDisable>
            <controller_action_predispatch_adminhtml_cache_massRefresh>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onMassCacheRefresh</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massRefresh>
            <catalog_product_save_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onProductSaveAfter</method>
                    </bubble_fpc>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onCategorySaveAfter</method>
                    </bubble_fpc>
                </observers>
            </catalog_category_save_after>
            <cms_page_save_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onPageSaveAfter</method>
                    </bubble_fpc>
                </observers>
            </cms_page_save_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onStockItemSaveAfter</method>
                    </bubble_fpc>
                </observers>
            </cataloginventory_stock_item_save_after>
            <bubble_fpc_clear_cache_product_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onProductClearFpc</method>
                    </bubble_fpc>
                </observers>
            </bubble_fpc_clear_cache_product_after>
            <bubble_fpc_clear_cache_category_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onCategoryClearFpc</method>
                    </bubble_fpc>
                </observers>
            </bubble_fpc_clear_cache_category_after>
            <bubble_fpc_clear_cache_page_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onPageClearFpc</method>
                    </bubble_fpc>
                </observers>
            </bubble_fpc_clear_cache_page_after>
            <controller_response_redirect>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onControllerRedirect</method>
                    </bubble_fpc>
                </observers>
            </controller_response_redirect>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bubble_FullPageCache before="Mage_Adminhtml">Bubble_FullPageCache_Adminhtml</Bubble_FullPageCache>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bubble_fpc>
                    <file>bubble/fpc.xml</file>
                </bubble_fpc>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bubble_FullPageCache>
                    <files>
                        <default>Bubble_FullPageCache.csv</default>
                    </files>
                </Bubble_FullPageCache>
            </modules>
        </translate>
        <events>
            <after_reindex_process_catalog_product_price>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onReindexPriceAfter</method>
                    </bubble_fpc>
                </observers>
            </after_reindex_process_catalog_product_price>
            <after_reindex_process_catalog_url>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onReindexUrlAfter</method>
                    </bubble_fpc>
                </observers>
            </after_reindex_process_catalog_url>
            <after_reindex_process_catalogsearch_fulltext>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onReindexSearchAfter</method>
                    </bubble_fpc>
                </observers>
            </after_reindex_process_catalogsearch_fulltext>
            <after_reindex_process_cataloginventory_stock>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onReindexStockAfter</method>
                    </bubble_fpc>
                </observers>
            </after_reindex_process_cataloginventory_stock>
            <adminhtml_block_html_before>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onAdminBlockHtmlBefore</method>
                    </bubble_fpc>
                </observers>
            </adminhtml_block_html_before>
            <admin_system_config_section_save_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onConfigSectionSaveAfter</method>
                    </bubble_fpc>
                </observers>
            </admin_system_config_section_save_after>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <bubble_fpc>
                    <file>bubble/fpc.xml</file>
                </bubble_fpc>
            </updates>
        </layout>
        <events>
            <http_response_send_before>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onHttpResponseSendBefore</method>
                    </bubble_fpc>
                </observers>
            </http_response_send_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onCoreBlockToHtmlBefore</method>
                    </bubble_fpc>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onCoreBlockToHtmlAfter</method>
                    </bubble_fpc>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_response_redirect>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>prepareMessages</method>
                    </bubble_fpc>
                </observers>
            </controller_response_redirect>
            <controller_action_predispatch_catalog>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>disableCatalogSession</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_catalog>
            <controller_action_predispatch_catalogsearch>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>disableCatalogSession</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_catalogsearch>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>validateFormKey</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <controller_action_predispatch_wishlist_index_add>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>validateFormKey</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_wishlist_index_add>
            <controller_action_predispatch_catalog_product_compare_add>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>validateFormKey</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_catalog_product_compare_add>
            <controller_action_predispatch_magalter_ajaxcart_cart_add>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>validateFormKey</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_magalter_ajaxcart_cart_add>
            <customer_login>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onCustomerLogin</method>
                    </bubble_fpc>
                </observers>
            </customer_login>
            <controller_action_layout_render_before>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onLayoutRenderBefore</method>
                    </bubble_fpc>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </frontend>
    <default>
        <bubble_fpc>
            <general>
                <enable_auto_generation>1</enable_auto_generation>
                <enable_soft_cache_clearing>0</enable_soft_cache_clearing>
                <cache_lifetime/>
                <enable_zip>1</enable_zip>
                <enable_ajax>0</enable_ajax>
            </general>
            <storage>
                <backend>filesystem</backend>
                <memcached_host>127.0.0.1</memcached_host>
                <memcached_port>11211</memcached_port>
                <memcache_host>127.0.0.1</memcache_host>
                <memcache_port>11211</memcache_port>
                <redis_host>127.0.0.1</redis_host>
                <redis_port>6379</redis_port>
            </storage>
        </bubble_fpc>
    </default>
</config>