<?xml version="1.0"?>
<config>
    <modules>
        <Magebright_Assignorder>
            <version>0.1.0</version>
        </Magebright_Assignorder>
    </modules>   
    <admin>
        <routers>
            <assignorder>
                <use>admin</use>
                <args>
                    <module>Magebright_Assignorder</module>
                    <frontName>assignorder</frontName>
                </args>
            </assignorder>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <assignorder>
                                            <title>Assignorder</title>
                                        </assignorder>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>        
        <layout>
            <updates>
                <assignorder>
                    <file>assignorder.xml</file>
                </assignorder>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <assignorder>
                <class>Magebright_Assignorder_Model</class>
                <resourceModel>assignorder_mysql4</resourceModel>
            </assignorder>
            <assignorder_mysql4>
                <class>Magebright_Assignorder_Model_Mysql4</class>
                <entities>
                    <history>
                        <table>assignorder_history</table>
                    </history>
                </entities>
            </assignorder_mysql4>
        </models>
        <resources>
            <assignorder_setup>
                <setup>
                    <module>Magebright_Assignorder</module>                    
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </assignorder_setup>
            <assignorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </assignorder_write>
            <assignorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </assignorder_read>
        </resources>
        <helpers>
            <assignorder>
                <class>Magebright_Assignorder_Helper</class>
            </assignorder>
        </helpers>
        <blocks>
            <assignorder>
                <class>Magebright_Assignorder_Block</class>
            </assignorder>
        </blocks>
        <events>            
            <adminhtml_widget_container_html_before>
                <observers>
                    <assignorder_adminhtml_widget_container_html_before>
                        <class>assignorder/observer</class>
                        <type>singleton</type>
                        <method>adminhtmlWidgetContainerHtmlBefore</method>
                    </assignorder_adminhtml_widget_container_html_before>
                </observers>
            </adminhtml_widget_container_html_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <assignorder_core_block_abstract_prepare_layout_before>
                        <class>assignorder/observer</class>
                        <type>singleton</type>
                        <method>addAssignOrderToCustomerMassAction</method>
                    </assignorder_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>            
        </events>
        <template>
            <email>
                <assignorder_assignorder_settings_email_notification_template translate="label" module="assignorder">
                    <label>Assign To Customer Notification</label>
                    <file>assignorder/email_notification.html</file>
                    <type>html</type>
               </assignorder_assignorder_settings_email_notification_template>
            </email>
        </template>
    </global>
    <default>
        <assignorder>
            <assignorder_settings>
                <enabled>1</enabled>
                <notification_from_email>general</notification_from_email>
                <notification_to_email></notification_to_email>
                <email_notification_template>assignorder_assignorder_settings_email_notification_template</email_notification_template>                
            </assignorder_settings>
        </assignorder>
    </default>
</config>